pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy to internal",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": "select  ca.\"userId\" AS \"STUD_ID\"\n,'E-LEARNING' AS \"CPNT_TYP_ID\"\n,c.sku as  \"CPNT_ID\"\n,'E-LEARNING_COMPLETED' as \"CMPL_STAT_ID\"\n,case when ca.\"updatedAt\" is null then ca.\"createdAt\" else ca.\"updatedAt\" end AS \"COMPL_DTE\"\n,'Asia/Bangkok' as \"COMPL_DTE_TIMEZONE\"\n,c.\"totalTime\"/60/60 as \"CREDIT_HRS\"\n,max(qa.grade) as \"GRADE\"\n,null AS \"INST_NAME\"\n,null AS \"COMMENTS\"\nfrom \"courseActions\" ca \njoin courses c on c.id = ca.\"courseId\"  and c.status = 'published' \njoin topics t  on c.id = t.\"courseId\"  and t.title like 'Question%'\njoin \"quizAttempts\" qa  on qa.\"topicId\" = t.id and qa.\"courseId\" = t.\"courseId\" and qa.\"userId\" = ca.\"userId\" \nwhere ca.\"userId\" = '28a8356f-b393-4c56-9ddb-308c5d6dc78c' and \n--ca.\"cours.Id\" ='a1558712-fe65-4d3c-963c-5154f343a742' and \nca.\"source\" = 'course_completed'\ngroup by (ca.\"userId\", ca.\"updatedAt\" ,ca.\"createdAt\",c.id ,t.id)\norder by ca.\"userId\" asc,c.sku asc\n"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": {
								"value": ".csv",
								"type": "Expression"
							}
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "STUD_ID",
									"type": "Guid"
								},
								"sink": {
									"name": "STUD_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CPNT_TYP_ID",
									"type": "String"
								},
								"sink": {
									"name": "CPNT_TYP_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CPNT_ID",
									"type": "String"
								},
								"sink": {
									"name": "CPNT_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CMPL_STAT_ID",
									"type": "String"
								},
								"sink": {
									"name": "CMPL_STAT_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COMPL_DTE",
									"type": "DateTime"
								},
								"sink": {
									"name": "COMPL_DTE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COMPL_DTE_TIMEZONE",
									"type": "String"
								},
								"sink": {
									"name": "COMPL_DTE_TIMEZONE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREDIT_HRS",
									"type": "Int32"
								},
								"sink": {
									"name": "CREDIT_HRS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GRADE",
									"type": "Int32"
								},
								"sink": {
									"name": "GRADE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "INST_NAME",
									"type": "String"
								},
								"sink": {
									"name": "INST_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COMMENTS",
									"type": "String"
								},
								"sink": {
									"name": "COMMENTS",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CourseAction",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Output",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set countRow",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy to internal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CountRow",
					"value": {
						"value": "@not(equals(activity('Copy to internal').output.rowsRead ,0))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set countRow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('CountRow')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Output",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "Input",
										"type": "LinkedServiceReference"
									},
									"path": "output"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@adddays(utcnow(),-1)",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false,
									"prefix": "data_"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-10.southeastasia.logic.azure.com:443/workflows/cd5050d5a16f498ab6d06f70f7323676/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=68IOE0MD0TSwEJkYKNTkyOpAeHtnejL63-9XOBsFamM",
								"method": "POST",
								"body": {
									"value": "{\n\"rowsRead\": \"@{activity('Copy to internal').output.rowsRead}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"CountRow": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": []
	}
}