pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy to internal",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "select * from \n(select  u2.id AS \"STUD_ID\"\n,'E-LEARNING' AS \"CPNT_TYP_ID\"\n,c.sku as  \"CPNT_ID\"\n,'E-LEARNING_COMPLETED' as \"CMPL_STAT_ID\"\n,case when ca.\"updatedAt\" is null then ca.\"createdAt\" else ca.\"updatedAt\" end AS \"COMPL_DTE\"\n,'Asia/Bangkok' as \"COMPL_DTE_TIMEZONE\"\n,c.\"totalTime\"/60/60 as \"CREDIT_HRS\"\n,max(qa.grade) as \"GRADE\"\n,null AS \"INST_NAME\"\n,null AS \"COMMENTS\"\nfrom \"courseActions\" ca \njoin courses c on c.id = ca.\"courseId\"  and c.status = 'published' \njoin topics t  on c.id = t.\"courseId\"  and t.title like 'Question%'\njoin \"quizAttempts\" qa  on qa.\"topicId\" = t.id and qa.\"courseId\" = t.\"courseId\" and qa.\"userId\" = ca.\"userId\" \njoin users u2 on u2.id = ca.\"userId\" \nwhere ca.\"userId\" = '28a8356f-b393-4c56-9ddb-308c5d6dc78c' and \n--ca.\"cours.Id\" ='a1558712-fe65-4d3c-963c-5154f343a741' and \nca.\"source\" = 'course_completed'\ngroup by (u2.id, ca.\"updatedAt\" ,ca.\"createdAt\",c.id ,t.id)\n--order by ca.\"userId\" asc,c.sku asc\n) t1\nwhere t1.\"COMPL_DTE\" > '@{formatDateTime(addDays(utcnow(), -10) ,'yyyy-MM-dd')}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "SftpWriteSettings",
							"operationTimeout": "01:00:00",
							"useTempFileRename": true
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": {
								"value": ".csv",
								"type": "Expression"
							}
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "STUD_ID",
									"type": "Guid"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							},
							{
								"source": {
									"name": "CPNT_TYP_ID",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 2
								}
							},
							{
								"source": {
									"name": "CPNT_ID",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 3
								}
							},
							{
								"source": {
									"name": "CMPL_STAT_ID",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 4
								}
							},
							{
								"source": {
									"name": "COMPL_DTE",
									"type": "DateTime"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 5
								}
							},
							{
								"source": {
									"name": "COMPL_DTE_TIMEZONE",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 6
								}
							},
							{
								"source": {
									"name": "CREDIT_HRS",
									"type": "Int32"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 7
								}
							},
							{
								"source": {
									"name": "GRADE",
									"type": "Int32"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 8
								}
							},
							{
								"source": {
									"name": "INST_NAME",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 9
								}
							},
							{
								"source": {
									"name": "COMMENTS",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 10
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CourseAction",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sftpTest",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('filename')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy to internal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('Copy to internal').output.rowsRead, 0))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Web1_copy1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-10.southeastasia.logic.azure.com:443/workflows/cd5050d5a16f498ab6d06f70f7323676/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=68IOE0MD0TSwEJkYKNTkyOpAeHtnejL63-9XOBsFamM",
								"method": "POST",
								"body": {
									"value": "{\n\"rowsRead\": \"\",\n\"filename\": \"\",\n\"message\":\"<p>There are no new versions of </p> <p>@{variables('filename')} uploaded to</p> <p>the SFTP site from BrighterBee.\n</p> \"\n}",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-10.southeastasia.logic.azure.com:443/workflows/cd5050d5a16f498ab6d06f70f7323676/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=68IOE0MD0TSwEJkYKNTkyOpAeHtnejL63-9XOBsFamM",
								"method": "POST",
								"body": {
									"value": "{\n\"rowsRead\": \"@{activity('Copy to internal').output.rowsRead}\",\n\"filename\": \"@{variables('filename')}\",\n\"message\":\"<p>a new version of</p> <p>@{variables('filename')} with @{activity('Copy to internal').output.rowsRead} record</p> <p>has successfully been uploaded to the SFTP site from BrighterBee.</p>\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": {
						"value": "@concat('learninghistory_data_PTTEP.csv.4')\n\n\n\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"hasData": {
				"type": "Boolean",
				"defaultValue": false
			},
			"filename": {
				"type": "String"
			},
			"query": {
				"type": "String"
			}
		},
		"annotations": []
	}
}