pipeline/SendFileToSF_PTTEP.json
{
	"name": "SendFileToSF_PTTEP",
	"properties": {
		"activities": [
			{
				"name": "IfCheckHasData",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set filename",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "queryCheckData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(length(activity('queryCheckData').output.value), 0))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "sendEmailFail",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-10.southeastasia.logic.azure.com:443/workflows/cd5050d5a16f498ab6d06f70f7323676/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=68IOE0MD0TSwEJkYKNTkyOpAeHtnejL63-9XOBsFamM",
								"method": "POST",
								"body": {
									"value": "{\n\"title\":\"Notify Learning History\",\n\"message\":\"<p>There are no new versions of </p> <p>@{variables('filename')} uploaded to</p> <p>the SFTP site from BrighterBee.</p> \"\n}",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "sendEmailSuccess",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Copy to internal",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-10.southeastasia.logic.azure.com:443/workflows/cd5050d5a16f498ab6d06f70f7323676/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=68IOE0MD0TSwEJkYKNTkyOpAeHtnejL63-9XOBsFamM",
								"method": "POST",
								"body": {
									"value": "{\n\"title\":\"Notify Learning History\",\n\"message\":\"<p>a new version of</p> <p>@{variables('filename')} with @{activity('Copy to internal').output.rowsRead} record</p> <p>has successfully been uploaded to the SFTP site from BrighterBee.</p>\"\n}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy to internal",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "PostgreSqlSource",
									"query": {
										"value": "@variables('query')",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "SftpWriteSettings",
										"operationTimeout": "01:00:00",
										"useTempFileRename": true
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": {
											"value": ".csv",
											"type": "Expression"
										}
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "STUD_ID",
												"type": "Guid"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											}
										},
										{
											"source": {
												"name": "CPNT_TYP_ID",
												"type": "String"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 2
											}
										},
										{
											"source": {
												"name": "CPNT_ID",
												"type": "String"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 3
											}
										},
										{
											"source": {
												"name": "CMPL_STAT_ID",
												"type": "String"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 4
											}
										},
										{
											"source": {
												"name": "COMPL_DTE",
												"type": "DateTime"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 5
											}
										},
										{
											"source": {
												"name": "COMPL_DTE_TIMEZONE",
												"type": "String"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 6
											}
										},
										{
											"source": {
												"name": "CREDIT_HRS",
												"type": "Int32"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 7
											}
										},
										{
											"source": {
												"name": "GRADE",
												"type": "Int32"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 8
											}
										},
										{
											"source": {
												"name": "INST_NAME",
												"type": "String"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 9
											}
										},
										{
											"source": {
												"name": "COMMENTS",
												"type": "String"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 10
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CourseAction",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sftpTest",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@variables('filename')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Set filename",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": {
						"value": "@concat('learninghistory_data_PTTEP.csv.4')\n\n\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "queryCheckData",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set query",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "@variables('query')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "CourseAction",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set query",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "query",
					"value": {
						"value": "select * from  (select  u2.id AS \"STUD_ID\" ,'E-LEARNING' AS \"CPNT_TYP_ID\" ,c.sku as  \"CPNT_ID\" ,'E-LEARNING_COMPLETED' as \"CMPL_STAT_ID\" ,case when ca.\"updatedAt\" is null then ca.\"createdAt\" else ca.\"updatedAt\" end AS \"COMPL_DTE\" ,'Asia/Bangkok' as \"COMPL_DTE_TIMEZONE\" ,c.\"totalTime\"/60/60 as \"CREDIT_HRS\" ,max(qa.grade) as \"GRADE\" ,null AS \"INST_NAME\" ,null AS \"COMMENTS\" from \"courseActions\" ca  join courses c on c.id = ca.\"courseId\"  and c.status = 'published'  join topics t  on c.id = t.\"courseId\"  and t.title like 'Question%' join \"quizAttempts\" qa  on qa.\"topicId\" = t.id and qa.\"courseId\" = t.\"courseId\" and qa.\"userId\" = ca.\"userId\"  join users u2 on u2.id = ca.\"userId\"  where ca.\"userId\" = '28a8356f-b393-4c56-9ddb-308c5d6dc78c' and  ca.\"source\" = 'course_completed' group by (u2.id, ca.\"updatedAt\" ,ca.\"createdAt\",c.id ,t.id) ) t1 where t1.\"COMPL_DTE\" > '@{formatDateTime(addDays(utcnow(), -1) ,'yyyy-MM-dd')}'",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"filename": {
				"type": "String"
			},
			"query": {
				"type": "String"
			}
		},
		"annotations": []
	}
}